@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import 'tailwindcss';

@theme {
	--color-neutral-900: hsl(243, 96%, 9%);
	--color-neutral-800: hsl(243, 27%, 20%);
	--color-neutral-700: hsl(243, 23%, 24%);
	--color-neutral-600: hsl(243, 23%, 30%);
	--color-neutral-300: hsl(240, 6%, 70%);
	--color-neutral-200: hsl(250, 6%, 84%);
	--color-neutral-0: hsl(0, 0%, 100%);

	--color-orange-500: hsl(28, 100%, 52%);
	--color-blue-500: hsl(233, 67%, 56%);
	--color-blue-700: hsl(248, 70%, 36%);
}
body {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	width: 100%;
	min-height: 100vh;
	font-style: normal;

	@apply text-neutral-0 bg-neutral-900 text-[18px];
}

.bricolage-grotesque {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

h1 {
	font-family: 'Bricolage Grotesque', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

select,
button {
	cursor: pointer;
}
